<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best News Articles website </title>
        {% endif %}
    </head>
    <body>
         <!-- Sports news section  -->
         <h3> Sports News</h3>
         <ul>
            {% for sport_news in sports %}
                <li>{{ sport_news.title}}</li>
            {% endfor %}
        </ul>

        <!-- General news  -->
        <h3> General News </h3>
         <ul>
            {% for general_news in general %}
                <li>{{ general_news.title}}</li>
            {% endfor %}
        </ul>
        <!-- Health news -->
        <h3>Health news </h3>
         <ul>
            {% for health_news in health %}
                <li>{{ health_news.title}}</li>
            {% endfor %}
        </ul>
    </body>
</html>