<div class="navbar navbar-inverse" style="background-color: #890F0D;" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> Newsarticles </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li>  <a class="nav-link" href="/{{'news.url'}}"><button type="button" class="btn btn-primary">BBC</button></a> </li>
                <li>  <a class="nav-link" href="/{{'news.url'}}"><button type="button" class="btn btn-primary">CNN</button></a> </li>
                <li>  <a class="nav-link" href="/{{'news.url'}}"><button type="button" class="btn btn-primary">CCTV</button></a> </li>
            </ul>    
        </div>

    </div>
</div>